/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Copyright (c) 2021 Andrei-Edward Popa
 * Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
 */

#include <zephyr/dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/esp32c3-pinctrl.h>

// gpio2 gpio3 gpio8 gpio9 用于boot启动选择，建议不要使用

/ {
	aliases {
		pwm-led0 = &pwm_led;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led: pwm_led_gpio0_4 {
			label = "PWM LED0";
			pwms = <&ledc0 0 1000 PWM_POLARITY_NORMAL>;
		};
	};
	// esp32的adc不稳，使用i2c adc芯片
	// zephyr,user {
	// 	io-channels = <&adc0 0>, <&adc0 1>;
	// };
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO0>,
				 <I2C0_SCL_GPIO1>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
	ledc0_default: ledc0_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO4>;
			output-enable;
		};
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>; // 100k I2C_BITRATE_FAST (400k)
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

};

&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};

// &adc0 {
// 	#address-cells = <1>;
// 	#size-cells = <0>;
// 	status = "okay";

// 	channel@0 {
// 		reg = <0>;
// 		zephyr,gain = "ADC_GAIN_1";
// 		zephyr,reference = "ADC_REF_INTERNAL";
// 		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
// 		zephyr,resolution = <12>;
// 	};

// 	channel@1 {
// 		reg = <1>;
// 		zephyr,gain = "ADC_GAIN_1";
// 		zephyr,reference = "ADC_REF_INTERNAL";
// 		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
// 		zephyr,resolution = <12>;
// 	};
// };