/ {
	/delete-node/ leds;
	/delete-node/ aliases;
};
&usart2 {
	status = "disabled";
};

&usart3 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};

&spi1 {
	status = "disabled";
};

&spi2 {
	status = "disabled";
};

&timers1 {
	status = "disabled";
};

zephyr_udc0: &usb {
	status = "disabled";
};

&adc1 {
	status = "disabled";
};

/***** 上面均为dtsi中适配的外设，防止GPIO复用重复，全部disable ******/
/ {

	aliases {
		uart1 = &usart1;
		uart2 = &usart2;
	};
	chosen {
		zephyr,code-partition = &app_partition;
	};
	zephyr,user {
		io-channels = <&adc1 4>, <&adc1 5>;
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	current-speed = <115200>;
	pinctrl-names = "default";
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	current-speed = <115200>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	imu: mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
	};
	ldc: ldc1612@2a {
		compatible = "ti,ldc1614";
		reg = <0x2a>;
		status = "okay";
	};
};


&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_sck_master_pb13
	&spi2_miso_master_pb14 &spi2_mosi_master_pb15>;
	pinctrl-names = "default";

	cs-gpios =  <&gpiob 12  GPIO_ACTIVE_LOW>;

	pressure_sensor: sensor@0 {
		status = "okay";
		compatible = "us6330-015-s";
		reg = <0>;
		spi-max-frequency = <18000000>;
	};
};

&timers4 {
	status = "okay";

	pump: pwm {
		status = "okay";
		// pinctrl-0 = <&tim4_ch1_pwm_out_pb6 &tim4_ch2_pwm_out_pb7 &tim4_ch3_pwm_out_pb8>;
		pinctrl-0 = <&tim4_ch2_pwm_out_pb7>;
		pinctrl-names = "default";
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* stm32f103 flash a section is 1KB !!! */
		/* 各个flash分区必须是8k的倍数,总共64K */
		
		app_partition: partition@0 {
			label = "app";
			reg = <0x0000 DT_SIZE_K(63)>;
		};

		/* rw partition: 1KB for store data */
		rw_partition: partition@FC00 {
			label = "rw";
			reg = <0xfc00 DT_SIZE_K(1)>;
		};		
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in4_pa4 &adc1_in5_pa5>;
	pinctrl-names = "default";
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&gpiob {
	status = "okay";
};